*, *::before, *::after {
	box-sizing: border-box;
}
:root {
	--bg-primary: rgb(49, 49, 49);
	--bg-secondary: rgb(36, 36, 36);
	--bg-darken: rgba(0, 0, 0, 0.4);
	--text-strong: white;
	--text-normal: rgb(220, 220, 220);
	--text-weak: rgb(156, 156, 156);
}
html {
    /*scroll-behavior: smooth;*/
	scroll-padding-top: 10px; 
}
body {
	margin: 0;
	background-color: var(--bg-primary);
	color: var(--text-normal);
	font-family: monospace;
	font-size: 13pt;
}
.blur > .body {
	filter: blur(5px) brightness(0.5);
}
.blur {
	overflow: hidden;
}
.body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
a, a:visited {
	color: cyan;
}
h2 {
	font-size: 2rem;
	margin: .75rem 0;
	text-decoration: underline;
	text-underline-offset: 4px;
}
h3 {
	font-size: 1.2em;
}
h2, h3, h4 {
	width: 100%;
	text-align: center;
}
#sidebar {
	font-size: 16pt;
	z-index: 1;
	position: fixed;
	left: -300px;
	top: 0px;
	height: 100%;
	width: 300px;
	background-color: var(--bg-primary);
	transition: left .25s ease-in-out;
	box-shadow: 2px 2px 12px black;
	box-sizing: border-box;
}
#sidebar.open {
	left: 0px;
}
.sidebarContent > a {
	color: var(--text-normal);
	display: block;
	text-decoration: none;
}
.sidebarTab {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: var(--bg-secondary);
	border-radius: 0 20px 20px 0;
	top: 20px;
	left: 100%;
	box-shadow: 5px 3px 7px -2px black;
}
.sidebarContent {
	padding: 20px;
	height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
}
.sidebarContent > a:hover {
	color:rgba(255, 255, 0, 0.666);
}
.sidebarTab::after {
	position: absolute;
	top: 40%;
	left: 40%;
	content: "";
	width: 10px;
	height: 10px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(-45deg);
	transition: transform 0.25s linear;
}
.open > .sidebarTab::after {
	transform: rotate(135deg);
}
.footer {
	width: 100%;
	padding: 20px;
	background-color: var(--bg-darken);
	text-align: center;
}
.footer img {
	max-width: 24px;
	max-height: 24px;
}
.footer > div {
	margin: 10px;
}
/*

Generic

*/
.text-strong { color: var(--text-strong); }
.text-normal { color: var(--text-normal); }
.text-weak { color: var(--text-weak); }
/*

Killers

*/
#killers {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
	margin-bottom: 10px;
}
/*

Killer

*/
.killer {
	position: relative; /**/
	box-sizing: border-box;
	display: grid;
	grid-template:
		"img name"
		"img build";
	grid-template-rows: 40px auto;
	grid-template-columns: min-content auto;
	padding: 10px;
	margin: 10px;
	border-radius: 8px;
	background-color: var(--bg-darken);
	min-width: 800px;
	column-gap: 1em;
}
.killer:target {
	outline: 2px solid yellow;
}
.killer > .image {
	grid-area: img;
	height: 95%;
	width: auto;
	align-self: center;
}
.killer > .killerName {
	grid-area: name;
	color: var(--text-strong);
	align-self: baseline;
}
/*

Builds

*/
.builds {
	align-self: center;
	padding: 10px;
	min-width: 256px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-around;
}
.build {
	background-color: var(--bg-darken);
	padding: 8px;
	border-radius: 8px;
	margin: 8px;
}
.buildName {
	text-align: center;
}
.perks {
	display: flex;
	justify-content: center;
}
.perk {
	width: 64px;
	height: 64px;
	cursor: pointer;
}
.perk:hover {
	filter: drop-shadow(0px 0px 1px rgba(255, 255, 0, 0.444));
}
/*

Perk description modal

*/
.modalbg {
	background-color: rgba(0, 0, 0, 0.66);
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal {
	padding: 20px 40px;
	width: 70%;
	height: fit-content;
	max-height: 90%;
	overflow-y: auto;
	border-radius: 8px;
	background-color: var(--bg-secondary);
}
.perkDescription {
	font-size: large;
	white-space: break-spaces;
}
.perkImage {
	float: right;
	filter: drop-shadow(4px 4px 8px black);
}
/*

Changes for mobile

*/
@media screen and (max-width: 800px) {
	#killers, .builds {
		grid-template-columns: auto;
	}
	.killer {
		grid-template:
			"name"
			"build";
		grid-template-rows: auto;
		grid-template-columns: auto;
		min-width: 300px;
	}
	.killer > .image {
		position: absolute;
		bottom: 0;
		width: auto;
		height: calc(100% - 50px);
		z-index: -1;
		filter: blur(3px);
		left: 0;
		right: 0;
		margin: auto;
		max-width: 100%;
	}
	.modal {
		width: 90%;
		padding: 10px 20px;
	}
	.perkImage {
		display: none;
	}
	.build {
		background-color: rgba(0, 0, 0, 0.656);
	}
}