*, *::before, *::after {
	box-sizing: border-box;
}
:root {
	--bg-primary: rgb(49, 49, 49);
	--bg-secondary: rgb(36, 36, 36);
	--bg-darken: rgba(0, 0, 0, 0.4);
	--text-strong: white;
	--text-normal: rgb(220, 220, 220);
	--text-weak: rgb(156, 156, 156);
	--color-killer: #f88300f7;
	--color-survivor: #0487d2;
	--color-anchoring: #ff6100;
}
html {
    /*scroll-behavior: smooth;*/
	scroll-padding-top: 20px;
	height: 100%;
}
body {
	margin: 0;
	background-color: var(--bg-primary);
	color: var(--text-normal);
	font-family: monospace;
	font-size: 13pt;
	height: 100%;
}
.blur > .body {
	filter: blur(5px) brightness(0.5);
}
.blur {
	overflow: hidden;
}
.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
a, a:visited {
	color: cyan;
}
h2 {
	font-size: 2rem;
	margin: .75rem 0;
	text-decoration: underline;
	text-underline-offset: 4px;
}
h3 {
	font-size: 1.2em;
}
h2, h3, h4 {
	width: 100%;
	text-align: center;
}
/*

Sidebar

*/
#sidebar {
	font-size: 16pt;
	z-index: 1;
	position: fixed;
	left: -300px;
	top: 0px;
	height: 100%;
	width: 300px;
	padding: 5px;
	background-color: var(--bg-primary);
	transition: left .25s ease-in-out;
	box-shadow: 2px 2px 12px black;
	box-sizing: border-box;
}
#sidebar.open {
	left: 0px;
}
.sidebarContent > a {
	color: var(--text-normal);
	display: block;
	text-decoration: none;
}
.sidebarTab {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: var(--bg-secondary);
	border-radius: 0 20px 20px 0;
	top: 20px;
	left: 100%;
	box-shadow: 5px 3px 7px -2px black;
}
.sidebarContent {
	padding: 10px;
	height: 100%;
	overflow-y: auto;
	box-sizing: border-box;
	overscroll-behavior: contain;
}
.sidebarContent > a:hover {
	color: var(--color-anchoring);
}
.sidebarTab::after {
	position: absolute;
	top: 40%;
	left: 40%;
	content: "";
	width: 10px;
	height: 10px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(-45deg);
	transition: transform 0.25s linear;
}
.open > .sidebarTab::after {
	transform: rotate(135deg);
}
/*

Footer

*/
.footer {
	width: calc(100% - 20px);
	padding: 20px;
	background-color: var(--bg-darken);
	text-align: center;
	margin: 10px;
	border-radius: 8px;
}
.footer img {
	max-width: 24px;
	max-height: 24px;
}
.footer > div {
	margin: 10px;
}
/*

Tabs

*/
.tabs {
	width: 100%;
	display: grid;
	grid-template:
		"labels labels"
		"tab tab";
	grid-template-rows: min-content auto;
	align-items: center;
	flex-grow: 1;
	gap: 10px;
}
.killerTab, .survivorTab {
	grid-area: tab;
	display: block;
	width: 100%;
}
input[type="radio"] {
	display: none;
}
label[for="selectKillers"] {
	justify-self: end;
}
input#selectKillers:checked + label,
input#selectSurvivors:checked + label {
	--character: var(--color-killer);
	outline: 2px solid var(--character);
	outline-offset: 2px;
	border-radius: 8px;
}
input#selectSurvivors:checked + label { --character: var(--color-survivor); }
input#selectKillers:checked ~ .survivorTab { display: none; }
input#selectKillers:checked ~ .killerTab{ --character: var(--color-killer); }
input#selectSurvivors:checked ~ .killerTab { display: none; }
input#selectSurvivors:checked ~ .survivorTab{ --character: var(--color-survivor); }
.tabs > label {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0 10px;
	width: fit-content;
}
label > img {
	width: 1.5rem;
	height: 1.5rem;
}
/*

Generic

*/
.textStrong { color: var(--text-strong); }
.textNormal { color: var(--text-normal); }
.textWeak { color: var(--text-weak); }
/*

Characters

*/
.characters {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(860px, 1fr));
	margin-bottom: 10px;
}
/*

Character

*/
.character {
	position: relative;
	z-index: 0; /* Create new stacking context */
	box-sizing: border-box;
	display: grid;
	grid-template:
		"img name"
		"img build";
	grid-template-rows: 40px auto;
	grid-template-columns: min-content auto;
	padding: 10px;
	margin: 10px;
	border-radius: 8px;
	background-color: var(--bg-darken);
	min-width: 800px;
	column-gap: 1em;
	box-shadow: 1px 1px 6px var(--character);
}
.character:target {
	outline: 2px solid var(--color-anchoring);
}
.character > .image {
	position: relative;
	grid-area: img;
	align-self: center;
	max-height: 300px;
	max-width: 225px;
	width: fit-content;
	height: fit-content;
	z-index: -1;
}
.image > img {
	display: block;
	margin: auto;
	object-fit: contain;
	height: 100%;
	width: -webkit-fill-available;
	width: -moz-available;
}
.killerTab .image > img {
	transform: scale(1.3);
	clip-path: inset(10px 25px);
}
.character > .characterName {
	grid-area: name;
	color: var(--text-strong);
	align-self: baseline;
}
/*

Builds

*/
.builds {
	align-self: center;
	padding: 10px;
	min-width: 256px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-around;
}
.build {
	background-color: var(--bg-darken);
	padding: 8px;
	border-radius: 8px;
	margin: 8px;
	box-shadow: 0px 1px 1px white;
	z-index: 0; /* Create new stacking context */
}
.buildName {
	text-align: center;
}
.perks {
	display: flex;
	justify-content: center;
}
.perkWrapper {
	position: relative;
}
.perkWrapper.hasAltPerks::after {
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: var(--altImg);
	background-size: contain;
	background-position: center;
	background-color: rgb(51, 51, 51);
	border-radius: 50%;
	right: -5px;
	top: -5px;
	z-index: -1;
}
.perk {
	width: 64px;
	height: 64px;
	cursor: pointer;
}
.perk:hover {
	box-shadow: 0px 1px 0px white;
}
/*

Perk description modal

*/
.modalbg {
	background-color: rgba(0, 0, 0, 0.66);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: center;
	align-items: center;
}
.modal {
	padding: 20px 40px;
	width: 70%;
	height: fit-content;
	max-height: 90%;
	overflow-y: auto;
	border-radius: 8px;
	background-color: var(--bg-secondary);
}
.alternatives {
	background-color: var(--bg-secondary);
	padding: 20px 40px;
	border-radius: 8px;
	width: 70%;
	text-align: center;
}
.perkDescription {
	font-size: large;
	white-space: break-spaces;
}
.perkImage {
	float: right;
	filter: drop-shadow(4px 4px 8px black);
}
.perkCharacter {
	margin: 0;
}
/*

Scroll

*/
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--text-normal);
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
/*

Changes for mobile

*/
@media screen and (max-width: 800px) {
	.characters, .builds {
		grid-template-columns: auto;
	}
	.character {
		grid-template:
			"name"
			"build";
		grid-template-rows: auto;
		grid-template-columns: auto;
		min-width: 300px;
		height: 600px;
	}
	.character > .image {
		position: absolute;
		bottom: 0;
		height: calc(100% - 50px);
		filter: blur(3px);
		left: 0;
		right: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		display: flex;
	}
	.image > img {
		max-width: 100%;
	}
	.modal,
	.alternatives {
		width: 90%;
		padding: 10px 20px;
	}
	.perkImage {
		display: none;
	}
	.build {
		background-color: rgba(0, 0, 0, 0.656);
	}
}